@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


header {
    display: flex;
    flex-direction: column;
    .bl_logo {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: relative;
        .logo {
            width: 50%;
            height: 100%;
        }
        .btn_back {
            background-color: transparent;
            border: 0px;
            position: relative;
            right: 70%;
            color: #000;
        }
    }
    .localisation {
        height: 50%;
        background-color:#EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        &__icon {
            padding: 2%;
        }
        input {
            width: 45%;
            border: none;
            background-color: transparent;
            padding: 2%;
            font-size: small;
            outline: 0px;
            font-weight: 500;
        }
    }
}
.explore {
    height: 200px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 5%;
    p {
        font-weight: 300;
    }
    &__btn {
        padding: 5%;
        border-radius: 40px;
        background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
        border: 0px;
        color: white;
        box-shadow: 1px 1px 10px grey;
        font-size: 15px;
        position: relative;
        z-index: 1;
        &:active {
            transform: scale(0.98);
        }
        &:active::after {
                opacity: 1;
            }
        &::after {
                content: "";
                position: absolute;
                top: 0%;
                bottom: 0%;
                left:0%;
                right: 0%;
                border-radius: 40px;
                border: 2px solid darken($colour-secondary, 10);
                opacity: 0;
                z-index: -1;
                transition: all 250ms;
        }
    }
}

.process {
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    justify-content: space-between;
    &__bl {
        background-color: #F6F6F6;
        border-radius: 15px;
        box-shadow: 2px 2px 15px -5px grey;
        margin-left: 15px;
        .step {
            display: flex;
            gap: 5%;
            padding: 4%;
            font-size: 15px;
            align-items: center;
            width: 100%;
            position: relative;
            right: 25px;
            &__number {
                border-radius: 50%;
                background-color: $colour-primary;
                color: $colour-white;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 12px;
            }
            &__icon {
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: grey;
                position: relative;
                z-index: 1;
                &:hover::after {
                    opacity: 1;
                }
                &::after {
                        content: "";
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                        transition: all 250ms;
                        color: $colour-primary;
                }
            }
        }
    }   
}

.restaurants {
    background-color: $colour-grey ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15% 5%;
}    
.card {
    a {
        text-decoration: none;
        color: #000;
        width: 100%;
        height: 100%;
    }
    background-color: $colour-white;
    border-radius: 20px;
    height: 250px;
    margin: 3% 0%;
    display: flex;
    flex-direction: column;
    &__head {
        width: 100%;
        height: 70%;
        position: relative;
        &__img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }
        .new-restaurant {
            background-color:rgb(150,220,210) ;
            color: seagreen;
            padding: 2% 5%;
            position: absolute;
            top: 10%;
            left: 70%;
            font-size: 12px;
        }
    }
    &__body {
        padding: 5%;
        flex-grow: 1;
        .icon-heart-right {
            float: right;
            font-size: 28px;
            margin-right: 5px;
            :active {
                font-weight: 900;
                background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                transition:all 0.9s ease-in-out;
                }
            }
        }
}
.card:hover {
        opacity: 0.7;
        filter: drop-shadow(0 0 0.75rem grey);
        transition: 0.5s all ease-in-out;
}

footer {
    background: rgb(50,50,50);
    color: $colour-white;
    padding: 5%;
}
.footer1 {
    &__title {
        font-family: "Shrikhand", sans-serif;
        font-size: 16px;
    }
    &__body {
        list-style: none;
        padding-left: 0%;
        li {
            margin: 2%;
            font-size: 12px;
            .footer1__icon {
                width: 25px;
            }
            .contact-link {
                text-decoration: none;
                color:$colour-white;
            }
        }
    }
}
.fa-hands-helping {
    font-size: 10px;
}


.menu {
    background-color: $colour-grey;
    &__img {
        img {
            width: 100%;
            height: 200px;
        }
    }
    &__body {
        position: relative;
        bottom: 40px;
        background-color: $colour-grey;
        border-radius: 30px 30px 0px 0px;
        display: flex;
        flex-direction: column;
        &__title {
            padding: 7%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-family: "Shrikhand", sans-serif;
            }
            .menu__body__icon {
                border: 0px;
                font-size: 28px;
                background-color: transparent;
                :hover {
                    font-weight: 900;
                    background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                    transition:all 0.9s ease-in-out;
                }
            }           
        }
        .starters {
            margin: 5%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: medium;
                font-weight: lighter;
            }
            &__one, &__two, &__three,&__four {
                background-color: $colour-white;
                border-radius: 10px;
                padding: 2%;
                padding-right: 5%;
                font-size: 12px;
                height: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 1% 0%;
                :hover {
                    box-shadow:inset -200px 0 0 0 #DEEBFF;
                }
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
            } 
        }
        .dishes {
            margin: 5%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: medium;
                font-weight: lighter;
            }
            &__one, &__two, &__three {
                background-color: $colour-white;
                border-radius: 10px;
                padding: 2%;
                padding-right: 5%;
                font-size: 12px;
                height: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 1% 0%;
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
            } 
        }
        .desserts {
            margin: 5%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: medium;
                font-weight: lighter;
            }
            &__one, &__two, &__three {
                background-color: $colour-white;
                border-radius: 10px;
                padding: 2%;
                padding-right: 5%;
                font-size: 12px;
                height: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 1% 0%;
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
            } 
        }
        .order {
            display: flex;
            justify-content: center;
            margin: 10% 5%;
            &__btn {
                padding: 5% 15%;
                border-radius: 40px;
                background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
                border: 0px;
                color: white;
                box-shadow: 1px 1px 10px grey;
                font-size: 15px;
            }  
        }
    } 
}