@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* color */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-grey: #F6F6F6;

/* 
nuance grey: #EAEAEA
             #F6F6F6
*/

html
{
    font-family: "Roboto", sans-serif;    
    margin-left: auto;
    margin-right: auto;
    max-width: 767px;
}

h1 {
    font-size: x-large;
    margin: 0%;
}
h2 {
    font-size: x-large;
    margin: 5% 0%;
}
h3 {
    font-size: large;
    margin: 0%;
}
body {
    margin: 0%;
}
header {
    display: flex;
    flex-direction: column;
    .bl_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: relative;
        height: 40px;
        .logo {
            max-width: 150px;
        }
        .btn_back {
            background-color: transparent;
            border: 0px;
            position: absolute;
            right: 90%;
            color: #000;
        }
    }
    .localisation {
        height: 50%;
        background-color:#EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        box-shadow: inset 0px 2px 1px grey;
        &__icon {
            padding: 2%;
        }
        input {
            width: 45%;
            border: none;
            background-color: transparent;
            padding: 2%;
            font-size: small;
            outline: 0px;
            font-weight: 500;
        }
    }
}
.explore {
    height: 220px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    justify-content: space-around; // better adapt in responsive
    p {
        font-weight: 300;
    }
    &__btn {
        padding: 5%;
        border-radius: 40px;
        background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
        border: 0px;
        color: white;
        box-shadow: 1px 1px 10px grey;
        font-size: 15px;
        position: relative; // already with position absolute ::after
        z-index: 1;
        transition: all 250ms;
        &:active {
            transform: scale(0.98); // reduce block
        }
        &:active::after {
                opacity: 1;
            }
        &::after {
                content: "";
                position: absolute;
                top: 0%;
                bottom: 0%;
                left:0%;
                right: 0%;
                border-radius: 40px;
                border: 2px solid darken($colour-secondary, 10);
                opacity: 0;
                z-index: -1;
        }
    }
}

.process {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    justify-content: space-between;
    &__bl {
        background-color: #F6F6F6;
        border-radius: 15px;
        box-shadow: 2px 2px 15px -5px grey;
        margin-left: 15px;
        height: 20%;
        display: flex;
        align-items: center;
        font-size: 14px;
        position: relative;
        z-index: 1;
        &:active::after {
            opacity: 1;
            transition: all 250ms;
        }
        &:active > .process__bl__icon {
            transition: all 250ms;
            color: $colour-primary;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0%;
            bottom: 0%;
            left:0%;
            right: 0%;
            opacity: 0;
            z-index: -1;
            background-color: lighten($colour-primary, 30);
            border-radius: 15px; 
        }
        &__number {
            border-radius: 50%;
            background-color: $colour-primary;
            color: $colour-white;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            position: relative;
            right: 10px;
        }
        &__icon {
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: grey;
            margin: 5% 5% 5% 0%; //position relative number
        }
    } 
}

.restaurants {
    background-color: $colour-grey ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 5%;
    height: 1000px;
}    
.card {
    background-color: $colour-white;
    border-radius: 20px;
    height: 20%;
    display: flex;
    flex-direction: column;
    position: relative; // add with bl new-restaurant
    &__link   {
        display: block;
        position: absolute;
        width: 100%; // top:0 bottom:0
        height: 100%; //right:0 left:0
        z-index: 1;
    }
    &__head {
        width: 100%;
        height: 70%;
        &__img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }
        .new-restaurant {
            background-color:rgb(150,220,210) ;
            color: seagreen;
            padding: 2% 5%;
            position: absolute;
            top: 10%;
            left: 70%;
            font-size: 12px;
        }
    }
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
        box-sizing: border-box; // out of bl 
        .icon-heart-right {
            font-size: 28px;
            margin-right: 2%;
            position: relative;
            z-index: 1;
            &:active {
                background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:active::after {
                opacity: 1;
                }
            &::after {
            content: "\f004";
            font-family: "font Awesome 5 free";
            font-weight: 900;
            position: absolute;
            top: 1px;
            bottom: 0;
            left:0%;
            right: 0%;
            font-size: 28px;
            opacity: 0;
            z-index: 1;
            background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: opacity 250ms;
            }
        }    
    }    
}
footer {
    background: rgb(50,50,50);
    color: $colour-white;
    padding: 5%;
}
.footer1 {
    &__title {
        font-family: "Shrikhand", sans-serif;
        font-size: 16px;
    }
    &__body {
        list-style: none;
        padding-left: 0%;
        li {
            margin: 2%;
            font-size: 12px;
            .footer1__icon {
                width: 25px;
            }
            .contact-link {
                text-decoration: none;
                color:$colour-white;
            }
        }
    }
}
.fa-hands-helping {
    font-size: 10px;
}


.menu {
    background-color: $colour-grey;
    height: 1300px;
    &__img {
        height: 15%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__body {
        position: relative;
        bottom: 40px;
        background-color: $colour-grey;
        border-radius: 30px 30px 0px 0px;
        display: flex;
        flex-direction: column;
        height: 80%;
        &__title {
            padding: 7%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-family: "Shrikhand", sans-serif;
                font-size: large;
            }
            .menu__body__icon {
                border: 0px;
                font-size: 28px;
                background-color: transparent;
                position: relative;
                &:active {
                    background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                &:active::after {
                    opacity: 1;
                    }
                &::after {
                content: "\f004";
                font-family: "font Awesome 5 free";
                font-weight: 900;
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                right: 0;
                font-size: 28px;
                opacity: 0;
                z-index: 1;
                background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: opacity 250ms;
                }
            }           
        }
        .starters {
            margin: 5%;
            // height: 200px;
            display: flex;
            flex-direction: column;
            height: 25%;
            gap: 5%; // same space between starters
            h2 {
                font-size: medium;
                font-weight: lighter;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 22px;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: 40px;
                    height: 3px;
                    background-color: rgb(150,220,210);
                    }
            }
            &__one, &__two, &__three,&__four {
                background-color: $colour-white;
                border-radius: 10px;
                padding-left: 2%;
                padding-right: 5%;
                height: 20%;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                align-content: space-evenly;
                box-shadow: 1px 1px 10px lightgrey;
                }
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
        }
        .dishes {
            margin: 5%;
            // height: 200px;
            display: flex;
            flex-direction: column;
            gap: 5%;
            height: 25%;
            h2 {
                font-size: medium;
                font-weight: lighter;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 22px;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: 40px;
                    height: 3px;
                    background-color: rgb(150,220,210);
                    }
            }
            &__one, &__two, &__three {
                background-color: $colour-white;
                border-radius: 10px;
                padding-left: 2%;
                padding-right: 5%;
                height: 20%;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                align-content: space-evenly;
                box-shadow: 1px 1px 10px lightgrey;
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
            } 
        }
        .desserts {
            margin: 5%;
            // height: 200px;
            display: flex;
            flex-direction: column;
            gap: 5%;
            height: 25%;
            h2 {
                font-size: medium;
                font-weight: lighter;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 22px;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: 40px;
                    height: 3px;
                    background-color: rgb(150,220,210);
                    }
            }
            &__one, &__two, &__three {
                background-color: $colour-white;
                border-radius: 10px;
                padding-left: 2%;
                padding-right: 5%;
                height: 20%;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                align-content: space-evenly;
                box-shadow: 1px 1px 10px lightgrey;
                h3 {
                    font-size: 14px;
                    width: 100%;
                }
            } 
        }
        .order {
            display: flex;
            justify-content: center;
            margin: 10% 5%;
            &__btn {
                padding: 5% 15%;
                border-radius: 40px;
                background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
                border: 0px;
                color: white;
                box-shadow: 1px 1px 10px grey;
                font-size: 15px;
                position: relative;
                z-index: 1;
                transition: all 250ms;
                &:active {
                    transform: scale(0.98);
                }
                &:active::after {
                        opacity: 1;
                    }
                &::after {
                        content: "";
                        position: absolute;
                        top: 0%;
                        bottom: 0%;
                        left:0%;
                        right: 0%;
                        border-radius: 40px;
                        border: 2px solid darken($colour-secondary, 10);
                        opacity: 0;
                        z-index: -1;
                }
            }  
        }
    } 
}

/* style tablet */
@media screen and (min-width: 768px) and (max-width: 991px)
{
header {
    .localisation {
        justify-content:flex-start;
        padding: 2% 5%;
        &__icon {
            font-size: 20px;
        }
        input {
            font-size:large;
            width: 100%;
        }
    }

}

.explore {
    h1 {
        font-size: xx-large;
    }
    p {
        font-size: 20px;
    }
    &__btn {
        font-size: large;
    }
}
.process {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    h2 {
        width: 100%;
        margin: 0%;
        height: max-content;
    }
    .process__bl {
        height: 50%;
        width: 30%;
        flex-direction: column;
        justify-content: start;
        margin-left: 0%;
        &__number {
            right: 0%;
            bottom: 25px;
            font-size: 20px;
            height: 40px;
            width: 40px;
            
        }
        &__icon {
            margin: 5% 0%;
            font-size: 40px;
        }
        &__step {
            font-size: 16px;
        }

    }
}
.restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    padding: 5%;
    justify-content: space-around;
    h2 {
        width: 100%;
        height: max-content;
        margin: 0%;
    }

}
.card {
    width: 45%;
    height: 40%;
}
.menu {
    &__img {
        height: 30%;

    }
}

}