@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* color */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-grey: #F6F6F6;
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/

html
{
    font-family: "Roboto", sans-serif;    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

h1 {
    font-size: x-large;
    margin: 0%;
}
h2 {
    font-size: x-large;
    margin: 5% 0%;
}
h3 {
    font-size: large;
    margin: 0%;
}
body {
    margin: 0%;
}
header {
    display: flex;
    flex-direction: column;
    .bl_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        position: relative;
        height: 40px;
        .logo {
            max-width: 150px;
        }
        .btn_back {
            background-color: transparent;
            border: 0px;
            position: absolute;
            right: 93%;
            color: #000;
        }
    }
    .localisation {
        height: 50%;
        background-color:#EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        box-shadow: inset 0px 2px 1px grey;
        &__icon {
            padding: 2%;
        }
        input {
            width: 45%;
            border: none;
            background-color: transparent;
            padding: 2%;
            font-size: small;
            outline: 0px;
            font-weight: 500;
        }
    }
}
.explore {
    height: 220px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    justify-content: space-around; // better adapt in responsive
    p {
        font-weight: 300;
    }
    &__btn {
        padding: 20px 5%;
        border-radius: 40px;
        background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
        border: 0px;
        color: white;
        box-shadow: 1px 1px 10px grey;
        font-size: 15px;
        position: relative; // already with position absolute ::after
        z-index: 1;
        transition: all 250ms;
        cursor: pointer;
        &:hover {
            transform: scale(0.98); // reduce block
            box-shadow: 1px 1px 20px grey;
        }
        &:active{
            transform: scale(0.96); // reduce block
            box-shadow: 1px 1px 20px grey;
        }
        &:active::after {
                opacity: 1;
            }
        &::after {
                content: "";
                position: absolute;
                top: 0%;
                bottom: 0%;
                left:0%;
                right: 0%;
                border-radius: 40px;
                border: 2px solid darken($colour-secondary, 10);
                opacity: 0;
                z-index: -1;
        }
    }
}

.process {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    justify-content: space-between;
    &__bl {
        background-color: #F6F6F6;
        border-radius: 15px;
        box-shadow: 1px 1px 10px lightgrey;
        margin-left: 15px;
        height: 20%;
        display: flex;
        align-items: center;
        font-size: 14px;
        position: relative;
        z-index: 1;
        &:hover::after , &:active::after {
            opacity: 1;
            box-shadow: 1px 1px 30px lightgrey;
        }
        &:active > .process__bl__icon, &:hover > .process__bl__icon {
            color: $colour-primary;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0%;
            bottom: 0%;
            left:0%;
            right: 0%;
            opacity: 0;
            z-index: -1;
            background-color: lighten($colour-primary, 30);
            border-radius: 15px; 
            transition: all 250ms;
        }
        &__number {
            border-radius: 50%;
            background-color: $colour-primary;
            color: $colour-white;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            position: relative;
            right: 10px;
        }
        &__icon {
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: grey;
            margin: 5% 5% 5% 0%; //position relative number
        }
    } 
}

.restaurants {
    background-color: $colour-grey ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 5%;
    height: 1000px;
}    
.card {
    background-color: $colour-white;
    border-radius: 20px;
    height: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px lightgrey;
    position: relative; // add with bl new-restaurant
    transition: all 250ms ;
    cursor: pointer;
    &:hover {
        box-shadow: 1px 1px 30px lightgrey;
        transform: scale(0.98);
        
    }
    &__link   {
        display: block;
        position: absolute;
        width: 100%; // top:0 bottom:0
        height: 100%; //right:0 left:0
        z-index: 1;
    }
    &__head {
        width: 100%;
        height: 70%;
        &__img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
        }
        .new-restaurant {
            background-color:rgb(150,220,210) ;
            color: seagreen;
            padding: 2% 5%;
            position: absolute;
            top: 10%;
            left: 70%;
            font-size: 12px;
        }
    }
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
        box-sizing: border-box; // out of bl 
        .icon-heart-right {
            font-size: 25px;
            margin-right: 2%;
            width: max-content;
            position: relative;
            z-index: 1;
            .fa-heart {
                font-size: 25px;
                &:hover , &:active {
                    background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:hover::after , &:active::after {
                    opacity: 1;
                    }
                &::after {
                content: "\f004";
                font-family: "font Awesome 5 free";
                font-weight: 900;
                position: absolute;
                top: 1px;
                bottom: 0;
                left:0%;
                right: 0%;
                font-size: 25px;
                opacity: 0;
                z-index: 1;
                background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: opacity 500ms;
                }
            }
            
        }    
    }    
}
footer {
    background: rgb(50,50,50);
    color: $colour-white;
    padding: 5%;
}
.footer1 {
    &__title {
        font-family: "Shrikhand", sans-serif;
        font-size: 16px;
    }
    &__body {
        list-style: none;
        padding-left: 0%;
        li {
            margin: 2%;
            font-size: 12px;
            .footer1__icon {
                width: 25px;
            }
            .contact-link {
                text-decoration: none;
                color:$colour-white;
                cursor: pointer;
                &:hover , &:active {
                    text-decoration: underline;
                }
            }
        }
    }
}
.fa-hands-helping {
    font-size: 10px;
}


.menu {
    background-color: $colour-grey;
    &__img {
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        position: relative;
        bottom: 40px;
        background-color: $colour-grey;
        border-radius: 30px 30px 0px 0px;
        display: flex;
        flex-direction: column;
        &__title {
            padding: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-family: "Shrikhand", sans-serif;
                font-size: large;
            }
            .menu__body__icon {
                border: 0px;
                background-color: transparent;
                position: relative;
                cursor: pointer;
                .fa-heart {
                    font-size: 25px;
                    &:hover , &:active {
                        background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        }
                    &:hover::after , &:active::after {
                        opacity: 1;
                        }
                    &::after {
                        content: "\f004";
                        font-family: "font Awesome 5 free";
                        font-weight: 900;
                        position: absolute;
                        top: 1px;
                        bottom: 0;
                        left:0%;
                        right: 0%;
                        font-size: 25px;
                        opacity: 0;
                        z-index: 1;
                        background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: opacity 500ms;
                    }
                }
                
            }           
        }
        .dishes {
            margin: 5%;
            display: flex;
            flex-direction: column;
            gap: 10px; // same space between starters
            h2 {
                font-size: medium;
                font-weight: lighter;
                position: relative;
                font-size: 14px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 22px;
                    bottom: 0;
                    left:0;
                    right: 0;
                    width: 40px;
                    height: 3px;
                    background-color: rgb(150,220,210);
                    }
            }
            &__proposition {
                background-color: $colour-white;
                border-radius: 10px;
                height: 45px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 2%;
                box-shadow: 1px 1px 10px lightgrey;
                font-size: 12px;
                cursor: pointer;
                &:active > .dishes__proposition--vd,
                &:hover > .dishes__proposition--vd {
                    visibility: visible;
                    opacity: 1;
                    width: 80px;
                    transition: all 250ms linear;
                    & > .fa-check-circle {
                        transform: rotate(360deg);
                        transform-origin: center;
                        transition: transform 250ms;
                    }
                }
                &--txt {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;
                    span {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    h3 {
                        width: 100%;
                        font-size: 14px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                &--price {
                    height: 30px;
                    width: 20%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: 500;
                }
                &--vd{
                    font-size: 20px;
                    width: 0px;
                    height: 100%;
                    border-radius: 0px 10px 10px 0px ;
                    background-color: $colour-accent;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
        .order {
            display: flex;
            justify-content: center;
            margin: 10% 5%;
            &__btn {
                padding: 20px 50px;
                border-radius: 40px;
                background: linear-gradient(180deg, $colour-secondary 0%,$colour-primary 90%);
                border: 0px;
                color: white;
                box-shadow: 1px 1px 10px grey;
                font-size: 15px;
                position: relative;
                z-index: 1;
                transition: all 250ms;
                cursor: pointer;
                &:hover {
                    transform: scale(0.98); // reduce block
                    box-shadow: 1px 1px 20px grey;
                }
                &:active{
                    transform: scale(0.96); // reduce block
                    box-shadow: 1px 1px 20px grey;
                }
                &:active::after {
                        opacity: 1;
                    }
                &::after {
                        content: "";
                        position: absolute;
                        top: 0%;
                        bottom: 0%;
                        left:0%;
                        right: 0%;
                        border-radius: 40px;
                        border: 2px solid darken($colour-secondary, 10);
                        opacity: 0;
                        z-index: -1;
                }
            }  
        }
    } 
}
@keyframes appear { //appear le nom de la keyframe
    from{
        opacity: 0;
        transform: translateY(20%);
        }
        
    to {
        opacity: 1;
        transform: translateY(0%);
        }
}
@keyframes btnappear {
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    50%{
        opacity: 0;
        transform: translateY(20%);
    }
    80%{
        opacity: 0;
        transform: translateY(20%)
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.menu__body { // 
    animation: appear 1s ;
    animation-delay: 0s;
}

.order {
    animation: btnappear 3s;
}
.dishes > * { // 
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation: appear 0.7s $i * (0.5s) both;
        }  
    }  
}
    
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: loader-bg 3s forwards;
    background-color: black;
    opacity: 0.95;
    font-family: "Shrikhand";
}
.icon {
        font-size: 2rem;
        font-family: "Shrikhand";
        width: 100%;
        height: 100%;
        color: black;
        background: linear-gradient(90deg, $colour-secondary 0%,$colour-primary 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: loaderSize 1.5s 2 ease-in-out;
}
@keyframes loader-bg {
    from { 
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}
@keyframes loaderSize {
    0% {
    transform:  scale(1.2);
    visibility: hidden;
    }
    16% {
    transform:  scale(1);
    visibility: visible;
    }
    50% {
    transform: scale(1.2) ;
    visibility: visible;
    }
    80% {
    transform:  scale(1);
    visibility: visible;
    }
    100% {
    transform:  scale(1.2) rotate3d(1,0,0 , 2160deg);
    visibility: hidden;
    }
}


/* style tablet */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    html {
        max-width: 100%;
    }
    header {
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        .bl_logo {
            flex-grow: 1;
            justify-content: flex-end;
        }
        .localisation {
            background-color: transparent;
            box-shadow: none;
            justify-content: flex-start;
            input {
                width: 100% ;
            }
        }
    }
    .explore {
        h1 {
            font-size: xx-large;
        }
        p {
            font-size: 20px;
        }
    }
    .process {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        h2 {
            width: 100%;
            margin: 0%;
            height: max-content;
        }
        .process__bl {
            height: 50%;
            width: 30%;
            flex-direction: column;
            justify-content: start;
            margin-left: 0%;
            &__number {
                right: 0%;
                bottom: 25px;
                font-size: 20px;
                height: 40px;
                width: 40px;
                
            }
            &__icon {
                margin: 5% 0%;
                font-size: 40px;
            }
            &__step {
                font-size: 16px;
            }

        }
    }
    .restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        height: 500px;
        padding: 5%;
        justify-content: space-around;
        h2 {
            width: 100%;
            height: max-content;
            margin: 0%;
        }
    }
    .card {
        width: 45%;
        height: 40%;
    }
    .menu {
        &__img {
            height: 400px;
            object-fit: cover;
        }
        &__body {
            align-items: center;
            &__title {
                padding: 5%;
                h1 {
                    font-size: xx-large;
                }
            }
            &__icon {
                left: 140px;
            }
            .dishes {
                width: 600px;
                margin: 3%;
                align-items: center;
                h2 {
                    width: 90%;
                    text-align: center;
                    &::after {
                        width: 40%;
                        height: 1px;
                        left: 160px;
                    }
                }
                &__proposition  {
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (min-width: 992px)
{
    html {
        max-width: 1024px;
    }
    header {
        flex-direction: row-reverse;
        width: 100%;
        align-items: center;
        .bl_logo {
            flex-grow: 1;
            justify-content: flex-end;
        }
        .localisation {
            background-color: transparent;
            box-shadow: none;
            justify-content: flex-start;
            input {
                width: 100% ;
            }
        }
    }
    .explore {
        h1 {
            font-size: xx-large;
        }
        p {
            font-size: 20px;
        }
    }
    .process {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        h2 {
            width: 100%;
            margin: 0%;
            height: max-content;
        }
        .process__bl {
            height: 50%;
            width: 30%;
            flex-direction: column;
            justify-content: start;
            margin-left: 0%;
            &__number {
                right: 0%;
                bottom: 25px;
                font-size: 20px;
                height: 40px;
                width: 40px;
                
            }
            &__icon {
                margin: 5% 0%;
                font-size: 40px;
            }
            &__step {
                font-size: 16px;
            }

        }
    }
    .restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        height: 500px;
        padding: 5%;
        justify-content: space-around;
        h2 {
            width: 100%;
            height: max-content;
            margin: 0%;
        }
        .card {
            width: 45%;
            height: 40%;
        }
    }
    .menu {
        &__img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
        &__body {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 2%;
            border-radius: 30px;
            justify-content: space-between;
            &__title {
                box-sizing: border-box;
                padding: 5%;
                width: 100%;
                justify-content: space-evenly;
                h1 {
                    font-size: xx-large;
                }
            }
            .dishes {
                width: 32%;
                margin: 0;
                align-items: center;
                h2 {
                    font-size: 16px;
                    width: 90%;
                    text-align: center;
                    &::after {
                        width: 100%;
                        height: 1px;
                    }
                }
                &__proposition {
                    padding-left: 5%;
                    height: 100px;
                    width: 100%;
                    box-sizing: border-box;
                    align-content: space-between;
                    &--price {
                        padding-right: 5%;
                        font-size: 14px;
                        width: max-content;
                        display: flex;
                        justify-content: center;
                    }
                } 
            }
            .order {
                width: 100%;
                height: max-content;
                margin: 5%;
                
            }
        }
    }
}