/* color */
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: "Roboto", sans-serif;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: x-large;
  margin: 0%;
}

h2 {
  font-size: x-large;
  margin: 5% 0%;
}

h3 {
  font-size: large;
  margin: 0%;
}

body {
  margin: 0%;
}

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
/* color */
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/
html {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

h1 {
  font-size: x-large;
  margin: 0%;
}

h2 {
  font-size: x-large;
  margin: 5% 0%;
}

h3 {
  font-size: large;
  margin: 0%;
}

body {
  margin: 0%;
}

header {
  display: flex;
  flex-direction: column;
}
header .bl_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
  height: 40px;
}
header .bl_logo .logo {
  max-width: 150px;
}
header .bl_logo .btn_back {
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 93%;
  color: #000;
}
header .localisation {
  height: 50%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-shadow: inset 0px 2px 1px grey;
}
header .localisation__icon {
  padding: 2%;
}
header .localisation input {
  width: 45%;
  border: none;
  background-color: transparent;
  padding: 2%;
  font-size: small;
  outline: 0px;
  font-weight: 500;
}

.explore {
  height: 220px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  justify-content: space-around;
}
.explore p {
  font-weight: 300;
}
.explore__btn {
  padding: 20px 5%;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 250ms;
  cursor: pointer;
}
.explore__btn:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 20px grey;
}
.explore__btn:active {
  transform: scale(0.96);
  box-shadow: 1px 1px 20px grey;
}
.explore__btn:active::after {
  opacity: 1;
}
.explore__btn::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 40px;
  border: 2px solid #ff46cc;
  opacity: 0;
  z-index: -1;
}

.process {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
  justify-content: space-between;
}
.process__bl {
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 1px 1px 10px lightgrey;
  margin-left: 15px;
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.process__bl:hover::after, .process__bl:active::after {
  opacity: 1;
  box-shadow: 1px 1px 30px lightgrey;
}
.process__bl:active > .process__bl__icon, .process__bl:hover > .process__bl__icon {
  color: #9356DC;
}
.process__bl::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
  z-index: -1;
  background-color: #e4d5f6;
  border-radius: 15px;
  transition: all 250ms;
}
.process__bl__number {
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
  right: 10px;
}
.process__bl__icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin: 5% 5% 5% 0%;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 5%;
  height: 1000px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  height: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px lightgrey;
  position: relative;
  transition: all 250ms;
  cursor: pointer;
}
.card:hover {
  box-shadow: 1px 1px 30px lightgrey;
  transform: scale(0.98);
}
.card__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card__head {
  width: 100%;
  height: 70%;
}
.card__head__img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__head .new-restaurant {
  background-color: #96dcd2;
  color: seagreen;
  padding: 2% 5%;
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 12px;
}
.card__body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  box-sizing: border-box;
}
.card__body .icon-heart-right {
  font-size: 25px;
  margin-right: 2%;
  width: max-content;
  position: relative;
  z-index: 1;
}
.card__body .icon-heart-right .fa-heart {
  font-size: 25px;
}
.card__body .icon-heart-right .fa-heart:hover, .card__body .icon-heart-right .fa-heart:active {
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__body .icon-heart-right .fa-heart:hover::after, .card__body .icon-heart-right .fa-heart:active::after {
  opacity: 1;
}
.card__body .icon-heart-right .fa-heart::after {
  content: "\f004";
  font-family: "font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0%;
  right: 0%;
  font-size: 25px;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms;
}

footer {
  background: #323232;
  color: #fff;
  padding: 5%;
}

.footer1__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
}
.footer1__body {
  list-style: none;
  padding-left: 0%;
}
.footer1__body li {
  margin: 2%;
  font-size: 12px;
}
.footer1__body li .footer1__icon {
  width: 25px;
}
.footer1__body li .contact-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer1__body li .contact-link:hover, .footer1__body li .contact-link:active {
  text-decoration: underline;
}

.fa-hands-helping {
  font-size: 10px;
}

.menu {
  background-color: #F6F6F6;
}
.menu__img {
  height: 200px;
}
.menu__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__body {
  position: relative;
  bottom: 40px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
}
.menu__body__title {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__body__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}
.menu__body__title .menu__body__icon {
  border: 0px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.menu__body__title .menu__body__icon .fa-heart {
  font-size: 25px;
}
.menu__body__title .menu__body__icon .fa-heart:hover, .menu__body__title .menu__body__icon .fa-heart:active {
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__body__title .menu__body__icon .fa-heart:hover::after, .menu__body__title .menu__body__icon .fa-heart:active::after {
  opacity: 1;
}
.menu__body__title .menu__body__icon .fa-heart::after {
  content: "\f004";
  font-family: "font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0%;
  right: 0%;
  font-size: 25px;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms;
}
.menu__body .dishes {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__body .dishes h2 {
  font-size: medium;
  font-weight: lighter;
  position: relative;
  font-size: 14px;
}
.menu__body .dishes h2::after {
  content: "";
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: #96dcd2;
}
.menu__body .dishes__proposition {
  background-color: #fff;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  box-shadow: 1px 1px 10px lightgrey;
  font-size: 12px;
  cursor: pointer;
}
.menu__body .dishes__proposition:active > .dishes__proposition--vd, .menu__body .dishes__proposition:hover > .dishes__proposition--vd {
  visibility: visible;
  opacity: 1;
  width: 80px;
  transition: all 250ms linear;
}
.menu__body .dishes__proposition:active > .dishes__proposition--vd > .fa-check-circle, .menu__body .dishes__proposition:hover > .dishes__proposition--vd > .fa-check-circle {
  transform: rotate(360deg);
  transform-origin: center;
  transition: transform 250ms;
}
.menu__body .dishes__proposition--txt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.menu__body .dishes__proposition--txt span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__body .dishes__proposition--txt h3 {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__body .dishes__proposition--price {
  height: 30px;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 500;
}
.menu__body .dishes__proposition--vd {
  font-size: 20px;
  width: 0px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.menu__body .order {
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.menu__body .order__btn {
  padding: 20px 50px;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 250ms;
  cursor: pointer;
}
.menu__body .order__btn:hover {
  transform: scale(0.98);
  box-shadow: 1px 1px 20px grey;
}
.menu__body .order__btn:active {
  transform: scale(0.96);
  box-shadow: 1px 1px 20px grey;
}
.menu__body .order__btn:active::after {
  opacity: 1;
}
.menu__body .order__btn::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 40px;
  border: 2px solid #ff46cc;
  opacity: 0;
  z-index: -1;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes btnappear {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(20%);
  }
  80% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu__body {
  animation: appear 1s;
  animation-delay: 0s;
}

.order {
  animation: btnappear 3s;
}

.dishes > *:nth-child(1) {
  animation: appear 0.7s 0.5s both;
}
.dishes > *:nth-child(2) {
  animation: appear 0.7s 1s both;
}
.dishes > *:nth-child(3) {
  animation: appear 0.7s 1.5s both;
}
.dishes > *:nth-child(4) {
  animation: appear 0.7s 2s both;
}
.dishes > *:nth-child(5) {
  animation: appear 0.7s 2.5s both;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: loader-bg 3s forwards;
  background-color: black;
  opacity: 0.95;
  font-family: "Shrikhand";
}

.icon {
  font-size: 2rem;
  font-family: "Shrikhand";
  width: 100%;
  height: 100%;
  color: black;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loaderSize 1.5s 2 ease-in-out;
}

@keyframes loader-bg {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loaderSize {
  0% {
    transform: scale(1.2);
    visibility: hidden;
  }
  16% {
    transform: scale(1);
    visibility: visible;
  }
  50% {
    transform: scale(1.2);
    visibility: visible;
  }
  80% {
    transform: scale(1);
    visibility: visible;
  }
  100% {
    transform: scale(1.2) rotate3d(1, 0, 0, 2160deg);
    visibility: hidden;
  }
}
/* style tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    max-width: 100%;
  }

  header {
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
  }
  header .bl_logo {
    flex-grow: 1;
    justify-content: flex-end;
  }
  header .localisation {
    background-color: transparent;
    box-shadow: none;
    justify-content: flex-start;
  }
  header .localisation input {
    width: 100%;
  }

  .explore h1 {
    font-size: xx-large;
  }
  .explore p {
    font-size: 20px;
  }

  .process {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
  }
  .process h2 {
    width: 100%;
    margin: 0%;
    height: max-content;
  }
  .process .process__bl {
    height: 50%;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    margin-left: 0%;
  }
  .process .process__bl__number {
    right: 0%;
    bottom: 25px;
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
  .process .process__bl__icon {
    margin: 5% 0%;
    font-size: 40px;
  }
  .process .process__bl__step {
    font-size: 16px;
  }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    padding: 5%;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
    height: max-content;
    margin: 0%;
  }

  .card {
    width: 45%;
    height: 40%;
  }

  .menu__img {
    height: 400px;
    object-fit: cover;
  }
  .menu__body {
    align-items: center;
  }
  .menu__body__title {
    padding: 5%;
  }
  .menu__body__title h1 {
    font-size: xx-large;
  }
  .menu__body__icon {
    left: 140px;
  }
  .menu__body .dishes {
    width: 600px;
    margin: 3%;
    align-items: center;
  }
  .menu__body .dishes h2 {
    width: 90%;
    text-align: center;
  }
  .menu__body .dishes h2::after {
    width: 40%;
    height: 1px;
    left: 160px;
  }
  .menu__body .dishes__proposition {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  html {
    max-width: 1024px;
  }

  header {
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
  }
  header .bl_logo {
    flex-grow: 1;
    justify-content: flex-end;
  }
  header .localisation {
    background-color: transparent;
    box-shadow: none;
    justify-content: flex-start;
  }
  header .localisation input {
    width: 100%;
  }

  .explore h1 {
    font-size: xx-large;
  }
  .explore p {
    font-size: 20px;
  }

  .process {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
  }
  .process h2 {
    width: 100%;
    margin: 0%;
    height: max-content;
  }
  .process .process__bl {
    height: 50%;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    margin-left: 0%;
  }
  .process .process__bl__number {
    right: 0%;
    bottom: 25px;
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
  .process .process__bl__icon {
    margin: 5% 0%;
    font-size: 40px;
  }
  .process .process__bl__step {
    font-size: 16px;
  }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    padding: 5%;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
    height: max-content;
    margin: 0%;
  }
  .restaurants .card {
    width: 45%;
    height: 40%;
  }

  .menu__img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .menu__body {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    border-radius: 30px;
    justify-content: space-between;
  }
  .menu__body__title {
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    justify-content: space-evenly;
  }
  .menu__body__title h1 {
    font-size: xx-large;
  }
  .menu__body .dishes {
    width: 32%;
    margin: 0;
    align-items: center;
  }
  .menu__body .dishes h2 {
    font-size: 16px;
    width: 90%;
    text-align: center;
  }
  .menu__body .dishes h2::after {
    width: 100%;
    height: 1px;
  }
  .menu__body .dishes__proposition {
    padding-left: 5%;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    align-content: space-between;
  }
  .menu__body .dishes__proposition--price {
    padding-right: 5%;
    font-size: 14px;
    width: max-content;
    display: flex;
    justify-content: center;
  }
  .menu__body .order {
    width: 100%;
    height: max-content;
    margin: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
