/* color */
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: "Roboto", sans-serif;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: x-large;
  margin: 0%;
}

h2 {
  font-size: x-large;
  margin: 0%;
}

h3 {
  font-size: large;
  margin: 0%;
}

body {
  margin: 0%;
}

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
header {
  display: flex;
  flex-direction: column;
}
header .bl_logo {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
}
header .bl_logo .logo {
  width: 50%;
  height: 100%;
}
header .bl_logo .btn_back {
  background-color: transparent;
  border: 0px;
  position: relative;
  right: 70%;
  color: #000;
}
header .localisation {
  height: 50%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
header .localisation__icon {
  padding: 2%;
}
header .localisation input {
  width: 45%;
  border: none;
  background-color: transparent;
  padding: 2%;
  font-size: small;
  outline: 0px;
  font-weight: 500;
}

.explore {
  height: 200px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10% 5%;
}
.explore p {
  font-weight: 300;
}
.explore__btn {
  padding: 5%;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
  position: relative;
  z-index: 1;
}
.explore__btn:active {
  transform: scale(0.98);
}
.explore__btn:active::after {
  opacity: 1;
}
.explore__btn::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 40px;
  border: 2px solid #ff46cc;
  opacity: 0;
  z-index: -1;
  transition: all 250ms;
}

.process {
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
  justify-content: space-between;
}
.process__bl {
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 2px 2px 15px -5px grey;
  margin-left: 15px;
}
.process__bl .step {
  display: flex;
  gap: 5%;
  padding: 4%;
  font-size: 15px;
  align-items: center;
  width: 100%;
  position: relative;
  right: 25px;
}
.process__bl .step__number {
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}
.process__bl .step__icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  position: relative;
  z-index: 1;
}
.process__bl .step__icon:hover::after {
  opacity: 1;
}
.process__bl .step__icon::after {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: all 250ms;
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15% 5%;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  height: 250px;
  margin: 3% 0%;
  display: flex;
  flex-direction: column;
}
.card a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}
.card__head {
  width: 100%;
  height: 70%;
  position: relative;
}
.card__head__img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__head .new-restaurant {
  background-color: #96dcd2;
  color: seagreen;
  padding: 2% 5%;
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 12px;
}
.card__body {
  padding: 5%;
  flex-grow: 1;
}
.card__body .icon-heart-right {
  float: right;
  font-size: 28px;
  margin-right: 5px;
}
.card__body .icon-heart-right :active {
  font-weight: 900;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  transition: all 0.9s ease-in-out;
}

.card:hover {
  opacity: 0.7;
  filter: drop-shadow(0 0 0.75rem grey);
  transition: 0.5s all ease-in-out;
}

footer {
  background: #323232;
  color: #fff;
  padding: 5%;
}

.footer1__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
}
.footer1__body {
  list-style: none;
  padding-left: 0%;
}
.footer1__body li {
  margin: 2%;
  font-size: 12px;
}
.footer1__body li .footer1__icon {
  width: 25px;
}
.footer1__body li .contact-link {
  text-decoration: none;
  color: #fff;
}

.fa-hands-helping {
  font-size: 10px;
}

.menu {
  background-color: #F6F6F6;
}
.menu__img img {
  width: 100%;
  height: 200px;
}
.menu__body {
  position: relative;
  bottom: 40px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
}
.menu__body__title {
  padding: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__body__title h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu__body__title .menu__body__icon {
  border: 0px;
  font-size: 28px;
  background-color: transparent;
}
.menu__body__title .menu__body__icon :hover {
  font-weight: 900;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  transition: all 0.9s ease-in-out;
}
.menu__body .starters {
  margin: 5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__body .starters h2 {
  font-size: medium;
  font-weight: lighter;
}
.menu__body .starters__one, .menu__body .starters__two, .menu__body .starters__three, .menu__body .starters__four {
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  padding-right: 5%;
  font-size: 12px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 0%;
}
.menu__body .starters__one :hover, .menu__body .starters__two :hover, .menu__body .starters__three :hover, .menu__body .starters__four :hover {
  box-shadow: inset -200px 0 0 0 #DEEBFF;
}
.menu__body .starters__one h3, .menu__body .starters__two h3, .menu__body .starters__three h3, .menu__body .starters__four h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .dishes {
  margin: 5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__body .dishes h2 {
  font-size: medium;
  font-weight: lighter;
}
.menu__body .dishes__one, .menu__body .dishes__two, .menu__body .dishes__three {
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  padding-right: 5%;
  font-size: 12px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 0%;
}
.menu__body .dishes__one h3, .menu__body .dishes__two h3, .menu__body .dishes__three h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .desserts {
  margin: 5%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__body .desserts h2 {
  font-size: medium;
  font-weight: lighter;
}
.menu__body .desserts__one, .menu__body .desserts__two, .menu__body .desserts__three {
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  padding-right: 5%;
  font-size: 12px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 0%;
}
.menu__body .desserts__one h3, .menu__body .desserts__two h3, .menu__body .desserts__three h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .order {
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.menu__body .order__btn {
  padding: 5% 15%;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
