/* color */
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  font-family: "Roboto", sans-serif;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: x-large;
  margin: 0%;
}

h2 {
  font-size: x-large;
  margin: 5% 0%;
}

h3 {
  font-size: large;
  margin: 0%;
}

body {
  margin: 0%;
}

/* font "Roboto" via google fonts 
Logo et titres: Shrikhand
*/
/* color */
/* 
nuance grey: #EAEAEA
             #F6F6F6
*/
html {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
}

h1 {
  font-size: x-large;
  margin: 0%;
}

h2 {
  font-size: x-large;
  margin: 5% 0%;
}

h3 {
  font-size: large;
  margin: 0%;
}

body {
  margin: 0%;
}

header {
  display: flex;
  flex-direction: column;
}
header .bl_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  position: relative;
  height: 40px;
}
header .bl_logo .logo {
  max-width: 150px;
}
header .bl_logo .btn_back {
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 93%;
  color: #000;
}
header .localisation {
  height: 50%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-shadow: inset 0px 2px 1px grey;
}
header .localisation__icon {
  padding: 2%;
}
header .localisation input {
  width: 45%;
  border: none;
  background-color: transparent;
  padding: 2%;
  font-size: small;
  outline: 0px;
  font-weight: 500;
}

.explore {
  height: 220px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  justify-content: space-around;
}
.explore p {
  font-weight: 300;
}
.explore__btn {
  padding: 20px 5%;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 250ms;
}
.explore__btn:active {
  transform: scale(0.98);
}
.explore__btn:active::after {
  opacity: 1;
}
.explore__btn::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 40px;
  border: 2px solid #ff46cc;
  opacity: 0;
  z-index: -1;
}

.process {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
  justify-content: space-between;
}
.process__bl {
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 1px 1px 10px lightgrey;
  margin-left: 15px;
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.process__bl:active::after {
  opacity: 1;
  transition: all 250ms;
}
.process__bl:active > .process__bl__icon {
  transition: all 250ms;
  color: #9356DC;
}
.process__bl::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
  z-index: -1;
  background-color: #e4d5f6;
  border-radius: 15px;
}
.process__bl__number {
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: relative;
  right: 10px;
}
.process__bl__icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin: 5% 5% 5% 0%;
}

.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% 5%;
  height: 1000px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  height: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px lightgrey;
  position: relative;
}
.card__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card__head {
  width: 100%;
  height: 70%;
}
.card__head__img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__head .new-restaurant {
  background-color: #96dcd2;
  color: seagreen;
  padding: 2% 5%;
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 12px;
}
.card__body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  box-sizing: border-box;
}
.card__body .icon-heart-right {
  font-size: 28px;
  margin-right: 2%;
  position: relative;
  z-index: 1;
}
.card__body .icon-heart-right:active {
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__body .icon-heart-right:active::after {
  opacity: 1;
}
.card__body .icon-heart-right::after {
  content: "\f004";
  font-family: "font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0%;
  right: 0%;
  font-size: 28px;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 250ms;
}

footer {
  background: #323232;
  color: #fff;
  padding: 5%;
}

.footer1__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
}
.footer1__body {
  list-style: none;
  padding-left: 0%;
}
.footer1__body li {
  margin: 2%;
  font-size: 12px;
}
.footer1__body li .footer1__icon {
  width: 25px;
}
.footer1__body li .contact-link {
  text-decoration: none;
  color: #fff;
}

.fa-hands-helping {
  font-size: 10px;
}

.menu {
  background-color: #F6F6F6;
}
.menu__img {
  height: 200px;
}
.menu__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__body {
  position: relative;
  bottom: 40px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
}
.menu__body__title {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__body__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}
.menu__body__title .menu__body__icon {
  border: 0px;
  font-size: 28px;
  background-color: transparent;
  position: relative;
}
.menu__body__title .menu__body__icon:active {
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__body__title .menu__body__icon:active::after {
  opacity: 1;
}
.menu__body__title .menu__body__icon::after {
  content: "\f004";
  font-family: "font Awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 28px;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(90deg, #FF79DA 0%, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 250ms;
}
.menu__body .starters {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__body .starters h2 {
  font-size: medium;
  font-weight: lighter;
  position: relative;
}
.menu__body .starters h2::after {
  content: "";
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: #96dcd2;
}
.menu__body .starters__one, .menu__body .starters__two, .menu__body .starters__three, .menu__body .starters__four {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 5%;
  height: 45px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  box-shadow: 1px 1px 10px lightgrey;
}
.menu__body .starters h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .dishes {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__body .dishes h2 {
  font-size: medium;
  font-weight: lighter;
  position: relative;
}
.menu__body .dishes h2::after {
  content: "";
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: #96dcd2;
}
.menu__body .dishes__one, .menu__body .dishes__two, .menu__body .dishes__three {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 5%;
  height: 45px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  box-shadow: 1px 1px 10px lightgrey;
}
.menu__body .dishes__one h3, .menu__body .dishes__two h3, .menu__body .dishes__three h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .desserts {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__body .desserts h2 {
  font-size: medium;
  font-weight: lighter;
  position: relative;
}
.menu__body .desserts h2::after {
  content: "";
  position: absolute;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: #96dcd2;
}
.menu__body .desserts__one, .menu__body .desserts__two, .menu__body .desserts__three {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 5%;
  height: 45px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  box-shadow: 1px 1px 10px lightgrey;
}
.menu__body .desserts__one h3, .menu__body .desserts__two h3, .menu__body .desserts__three h3 {
  font-size: 14px;
  width: 100%;
}
.menu__body .order {
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}
.menu__body .order__btn {
  padding: 20px 50px;
  border-radius: 40px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 90%);
  border: 0px;
  color: white;
  box-shadow: 1px 1px 10px grey;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 250ms;
}
.menu__body .order__btn:active {
  transform: scale(0.98);
}
.menu__body .order__btn:active::after {
  opacity: 1;
}
.menu__body .order__btn::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-radius: 40px;
  border: 2px solid #ff46cc;
  opacity: 0;
  z-index: -1;
}

/* style tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .localisation {
    justify-content: flex-start;
    padding: 2% 5%;
  }
  header .localisation__icon {
    font-size: 20px;
  }
  header .localisation input {
    font-size: large;
    width: 100%;
  }

  .explore h1 {
    font-size: xx-large;
  }
  .explore p {
    font-size: 20px;
  }

  .process {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
  }
  .process h2 {
    width: 100%;
    margin: 0%;
    height: max-content;
  }
  .process .process__bl {
    height: 50%;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    margin-left: 0%;
  }
  .process .process__bl__number {
    right: 0%;
    bottom: 25px;
    font-size: 20px;
    height: 40px;
    width: 40px;
  }
  .process .process__bl__icon {
    margin: 5% 0%;
    font-size: 40px;
  }
  .process .process__bl__step {
    font-size: 16px;
  }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    padding: 5%;
    justify-content: space-around;
  }
  .restaurants h2 {
    width: 100%;
    height: max-content;
    margin: 0%;
  }

  .card {
    width: 45%;
    height: 40%;
  }

  .menu__img {
    height: 400px;
    object-fit: cover;
  }
  .menu__body {
    align-items: center;
  }
  .menu__body__title {
    padding: 5%;
  }
  .menu__body__title h1 {
    font-size: xx-large;
  }
  .menu__body__icon {
    left: 140px;
  }
  .menu__body .starters {
    width: 600px;
    margin: 3%;
  }
  .menu__body .dishes {
    width: 600px;
    margin: 3%;
  }
  .menu__body .desserts {
    width: 600px;
    margin: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
